extends template
block head
    title About
block content
    main.main
        .content
            h1.content__title About
            p.content__text
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio
            | dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate
            | eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            | Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum,
            | exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum
            | dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos,
            | aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium
            | architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque
            | quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos
            | deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            | Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae?
            br
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio
            | dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate
            | eos deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            | Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum,
            | exercitationem porro soluta quae? Cupiditate eos deserunt laudantium architecto dolores.Lorem ipsum
            | dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque quo odio dignissimos,
            | aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos deserunt laudantium
            | architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima quidem reiciendis atque
            | quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae? Cupiditate eos
            | deserunt laudantium architecto dolores.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            | Minima quidem reiciendis atque quo odio dignissimos, aut, incidunt perspiciatis ea laborum, exercitationem porro soluta quae?
